.cuerpo
{
    background-color: green;
    background-image: linear-gradient(green,white,red);
}
.cuerpo
{
    background-color: antiquewhite;
}
.a
{
    border: 2px solid black;
    background-color: white;
    height: 50px;
}
.b
{
    border: 2px solid black;
    background-color: white;
    height: 200px; 
}
.c
{
    border: 2px solid black;
    background-color: white;
    height: 200px; 
}
.t
{
    font-family: 'Oswald', sans-serif;
}
.p
{
    font-family: 'Oswald', sans-serif;
}
.b1
{
    border: 2px solid black;
    background-color: white;
    height: 200px; 
}
.img
{
  background-image: url(../img/interior-design-0.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img1
{
  background-image: url(../img/blog-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img2
{
  background-image: url(../img/blog-2.jpg);
  background-repeat: no-repeat ;
  background-size: cover;
  background-position: center;
}
.img3
{
  background-image: url(../img/blog-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img4
{
  background-image: url(../img/blog-4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}